<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <title>Bingsu.js</title>
  <meta property="og:url" content="https://bingsu-js.gitlab.io/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Bingsu.js" />
  <meta
    property="og:image"
    content="https://bingsu-js.gitlab.io/images/og.jpg"
  />
  <meta
    property="og:description"
    content="Post-meetup after-parties for Thailand developer community! This is where we discuss and share about various technical and non-technical topics in great depth. Friendly for both introverts and extraverts!"
  />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
  <style>
    .event-list {
      display: none;
    }

    .event-list.-loaded {
      display: block;
    }

    .party-live a {
      color: red;
    }

    .event-item:target .event-name {
      background: #ff3;
      padding: 1px 3px;
      margin: -1px -3px;
      border-radius: 3px;
    }
  </style>
</head>
<body>
  <header class="introduction">
    <h1>Bingsu.js</h1>
    <p>
      Post-meetup after-parties, including Bingsu.js, ZaabOne.ts, TookLaeDee.css,
      eMKay.git, Yakiniku.hs, and anything actually! This is where we discuss and share
      our experiences about various technical and non-technical topics after
      attending a meetup. Unlike noisy parties, Bingsu.js is friendly for both
      introverts and extraverts, usually filled with a lot of deep discussions
      and very little small talk.
    </p>
    <p>
      It is a decentralized event for the Thailand developer community — YOU can run
      a Bingsu.js, and it’s easy!
    </p>
  </header>
  <section id="faq">
    <details id="join">
      <summary>How can I join a Bingsu.js?</summary>
      <p>
        <strong>After a meetup, don’t go back home just yet!</strong>
        Stay around while networking with the remaining people there.
        See if anyone is going to grab some food.
        If not, you can <a href="#howto">start one!</a>
      </p>
    </details>
    <details id="when">
      <summary>When is the next Bingsu.js?</summary>
      <p>The thing is… we don’t know, because there is no planning ahead of time.</p>
      <p><strong>Bingsu.js is decentralized and completely spontaneous.</strong></p>
      <p>
        Here’s a tip:
        Next time you attend a meetup, don't hurry back after the event!
        Stay around and network for a while, or join/listen to a conversation happening around you.
        Maybe you find a conversation that sparks your interest…
        Maybe you start getting hungry…
        and that’s when Bingsu.js takes place!
      </p>
    </details>
    <details id="howto">
      <summary>How to run a Bingsu.js?</summary>
      <ol>
        <li>Attend a meetup.</li>
        <li>
          After the meetup, don’t go home just yet!
          Stay around for a while, talk to people, or just listen to the ongoing conversion after the meetup.
          You may find a conversation that sparks your interest.
          You may start getting hungry.
        </li>
        <li>
          Ask around if anyone wants to have some Bingsu, food, or dessert.
          Gather people and go.
        </li>
        <li>
          Enjoy great conversations while filling your stomach. Make connections
          and expand your network.
        </li>
        <li>
          Take a selfie and caption with "Bingsu.js", "NotBingsu.js", or anything.
          See our past parties for examples.
        </li>

        <li>
          You can also go live and share the discussion with the wider community
          (optional but encouraged!).
        </li>
        <li>
          Send a Merge Request to
          <a href="https://gitlab.com/bingsu-js/bingsu-js.gitlab.io"
            >our repository</a
          >
          to add the party to the list. Please check out our
          <a
            href="https://gitlab.com/bingsu-js/bingsu-js.gitlab.io/blob/master/CONTRIBUTING.md"
            >contribution guide</a
          >!
        </li>
      </ol>
    </details>
  </section>

  <section id="parties">
    <h2>Past parties</h2>
    <ul class="event-list" :class="{ '-loaded': true }">
      <li class="event-item" v-for="(event, i) in events" :key="i" :id="event.slug">
        <span class="event-date">{{ event.date }}</span>
        <strong class="event-name">{{ event.name }}</strong>
        <ul class="party-list">
          <li class="party-item" v-for="(party, j) in event.party" :key="j">
            <a class="party-name" :href="party.url" target="_blank">{{
              party.name
            }}</a>
            <span class="party-live" v-if="party.live"
              >[<a :href="party.live" target="_blank">LIVE</a>]</span
            >
            @ <span class="party-place">{{ party.place }}</span>
            <template v-if="event.slug == '2017-07-09-io-extended-bangkok'">
              — <em>the original Bingsu.js</em>
            </template>
          </li>
        </ul>
      </li>
    </ul>
    <div class="loading-view" v-if="false">
      <p>
        <em>Loading data... <noscript>(JavaScript required)</noscript></em>
      </p>
    </div>
    <template v-if="!events">
      <div class="error-view">
        <p>Cannot load data! Please check your development console...</p>
      </div>
    </template>
    <template v-if="!!events">
      <p>
        {{totalParties}} parties, {{totalEvents}} events
      </p>
    </template>
  </section>
  <script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
  <script>
    BingsuJS = {}
  </script>

  <!-- Load the local event file -->
  <script src="bingsu.js"></script>

  <!-- If failed to load the local event file, try one on the server -->
  <script>
    if (!BingsuJS.events) {
      document.write(
        '<script src="https://bingsu-js.gitlab.io/bingsu.js"><\/script>'
      )
    }
  </script>

  <script>
    BingsuJS.app = new Vue({
      el: '#parties',
      data: {
        events: BingsuJS.events
      },
      computed: {
        totalParties() {
          return (this.events || []).reduce((sum, event) => {
            return sum + event.party.length
          }, 0)
        },
        totalEvents() {
          return (this.events || []).length
        }
      }
    })
  </script>

  <script>
    /* https://stackoverflow.com/a/37033774/559913 */
    function openTarget() {
      var hash = location.hash.substring(1);
      if(hash) var details = document.getElementById(hash);
      if(details && details.tagName.toLowerCase() === 'details') details.open = true;
    }
    window.addEventListener('hashchange', openTarget);
    openTarget();
  </script>
</body>
